# Importing Dependencies

In [119]:
import pandas as pd
import numpy as np
import json

# Reading the Dataset

In [120]:
movies = pd.read_csv('movies_metadata.csv')

C:\Users\FredS\AppData\Local\Temp\ipykernel_13304\2992503378.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_metadata.csv')

In [121]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# Checking for unique values (by column)

In [122]:
for column in movies.columns:
    unique_values = movies[column].unique()
    unique_count = movies[column].nunique()
    print(f"----- {column} -----")
    print(unique_values)
    print(f"Number of unique values in '{column}':", unique_count)
    print("\n")

----- adult -----
['False' 'True' ' - Written by Ã˜rnÃ¥s'
 ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.'
 ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.']
Number of unique values in 'adult': 5


----- belongs_to_collection -----
["{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"
 nan
 "{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}"
 ...
 "{'id': 148603, 'name': 'Ducobu Collection', 'poster_path': '/rd7AWZUy2QFPIblNWToVmdfXQcA.jpg', 'backdrop_path': '/7mzKmoIrvGapvsSbAVlX4HtCnFj.jpg'}"
 "{'id': 152918, 'name': 'Mister Blot Collection', 'poster_path': '/44PYEwwjGts8pAob59RHd6zlkKc.jpg', 'backdrop_path': '/5uoPsNiFpUYNamSGqE8okN27VRK.jpg'}"
 "{'id': 200641, 'name': 'Red Lotus Collection', 'poster_path': '/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg', 'backdrop_path': '/3fhHbLeO3DqdHvgHg5szs399eBb.jpg'}"]
Number of unique values in 'belongs_to_collection': 1698


----- budget -----
['30000000' '65000000' '0' ... '3417000' '25868826' '1254040']
Number of unique values in 'budget': 1226


----- genres -----
["[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]" ...
 "[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, 'name': 'Action'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 28, 'name': 'Action'}, {'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]"
 "[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]"]
Number of unique values in 'genres': 4069


----- homepage -----
['http://toystory.disney.com/toy-story' nan
 'http://www.mgm.com/view/movie/757/Goldeneye/' ... 'http://ddpromo.ru/'
 'http://lmtr.fi/' 'http://www.imdb.com/title/tt6209470/']
Number of unique values in 'homepage': 7673


----- id -----
['862' '8844' '15602' ... '67758' '227506' '461257']
Number of unique values in 'id': 45436


----- imdb_id -----
['tt0114709' 'tt0113497' 'tt0113228' ... 'tt0303758' 'tt0008536'
 'tt6980792']
Number of unique values in 'imdb_id': 45417


----- original_language -----
['en' 'fr' 'zh' 'it' 'fa' 'nl' 'de' 'cn' 'ar' 'es' 'ru' 'sv' 'ja' 'ko'
 'sr' 'bn' 'he' 'pt' 'wo' 'ro' 'hu' 'cy' 'vi' 'cs' 'da' 'no' 'nb' 'pl'
 'el' 'sh' 'xx' 'mk' 'bo' 'ca' 'fi' 'th' 'sk' 'bs' 'hi' 'tr' 'is' 'ps'
 'ab' 'eo' 'ka' 'mn' 'bm' 'zu' 'uk' 'af' 'la' 'et' 'ku' 'fy' 'lv' 'ta'
 'sl' 'tl' 'ur' 'rw' 'id' 'bg' 'mr' 'lt' 'kk' 'ms' 'sq' nan '104.0' 'qu'
 'te' 'am' 'jv' 'tg' 'ml' 'hr' 'lo' 'ay' 'kn' 'eu' 'ne' 'pa' 'ky' 'gl'
 '68.0' 'uz' 'sm' 'mt' '82.0' 'hy' 'iu' 'lb' 'si']
Number of unique values in 'original_language': 92


----- original_title -----
['Toy Story' 'Jumanji' 'Grumpier Old Men' ... 'Siglo ng Pagluluwal'
 'Satana likuyushchiy' 'Queerama']
Number of unique values in 'original_title': 43373


----- overview -----
["Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."
 "When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures."
 "A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcÃ©e opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max."
 ...
 'When one of her hits goes wrong, a professional assassin ends up with a suitcase full of a million dollars belonging to a mob boss ...'
 "In a small town live two brothers, one a minister and the other one a hunchback painter of the chapel who lives with his wife. One dreadful and stormy night, a stranger knocks at the door asking for shelter. The stranger talks about all the good things of the earthly life the minister is missing because of his puritanical faith. The minister comes to accept the stranger's viewpoint but it is others who will pay the consequences because the minister will discover the human pleasures thanks to, ehem, his sister- in -lawâ€¦ The tormented minister and his cuckolded brother will die in a strange accident in the chapel and later an infant will be born from the minister's adulterous relationship."
 '50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.']
Number of unique values in 'overview': 44307


----- popularity -----
[21.946943 17.015539 11.7129 ... '0.903007' '0.003503' '0.163015']
Number of unique values in 'popularity': 44176


----- poster_path -----
['/rhIRbceoE9lR4veEXuwCC2wARtG.jpg' '/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg'
 '/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg' ... '/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg'
 '/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg' '/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg']
Number of unique values in 'poster_path': 45024


----- production_companies -----
["[{'name': 'Pixar Animation Studios', 'id': 3}]"
 "[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"
 "[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]"
 ...
 "[{'name': 'Westdeutscher Rundfunk (WDR)', 'id': 7025}, {'name': 'Working Title Films', 'id': 10163}, {'name': '20th Century Fox Television', 'id': 16323}, {'name': 'CanWest Global Communications', 'id': 38978}]"
 "[{'name': 'Sine Olivia', 'id': 19653}]"
 "[{'name': 'Yermoliev', 'id': 88753}]"]
Number of unique values in 'production_companies': 22708


----- production_countries -----
["[{'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 ...
 "[{'iso_3166_1': 'PL', 'name': 'Poland'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'SK', 'name': 'Slovakia'}]"
 "[{'iso_3166_1': 'CU', 'name': 'Cuba'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'ES', 'name': 'Spain'}]"
 "[{'iso_3166_1': 'EG', 'name': 'Egypt'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"]
Number of unique values in 'production_countries': 2393


----- release_date -----
['1995-10-30' '1995-12-15' '1995-12-22' ... '1904-03-05' '1991-05-13'
 '1917-10-21']
Number of unique values in 'release_date': 17336


----- revenue -----
[3.73554033e+08 2.62797249e+08 0.00000000e+00 ... 1.32861200e+06
 1.26879300e+06 1.41300000e+06]
Number of unique values in 'revenue': 6863


----- runtime -----
[8.100e+01 1.040e+02 1.010e+02 1.270e+02 1.060e+02 1.700e+02 9.700e+01
 1.300e+02 8.800e+01 7.800e+01 1.920e+02 1.190e+02 1.780e+02 1.360e+02
 9.800e+01 9.000e+01 1.030e+02 1.050e+02 1.240e+02 1.320e+02 1.110e+02
 1.120e+02 1.230e+02 1.000e+02 1.080e+02 9.900e+01 1.290e+02 5.000e+01
 8.900e+01 1.210e+02 1.220e+02 5.100e+01 1.170e+02 1.160e+02 9.600e+01
 9.300e+01 9.500e+01 1.150e+02 1.370e+02 9.200e+01 8.500e+01 9.100e+01
 1.750e+02 8.700e+01 7.000e+01 1.180e+02 1.020e+02 1.350e+02 1.100e+02
 1.770e+02 1.140e+02 1.130e+02 8.600e+01 1.250e+02 1.400e+02 1.390e+02
 8.200e+01 8.300e+01 1.280e+02 1.090e+02 8.000e+01 1.340e+02 1.070e+02
 9.400e+01 1.450e+02 7.300e+01 0.000e+00 7.700e+01 1.710e+02 1.330e+02
 1.540e+02 1.620e+02 1.420e+02 1.260e+02 1.410e+02 1.800e+02 1.910e+02
 6.100e+01 8.400e+01 1.440e+02 1.310e+02 1.380e+02 1.950e+02 1.870e+02
 7.600e+01 1.200e+02 1.600e+02 1.810e+02 6.000e+01       nan 7.900e+01
 2.500e+01 7.500e+01 7.400e+01 3.000e+01 1.490e+02 7.100e+01 2.380e+02
 2.010e+02 1.670e+02 6.500e+01 1.430e+02 6.400e+01 1.740e+02 1.470e+02
 1.510e+02 6.900e+01 6.000e+00 6.200e+01 1.610e+02 2.160e+02 1.530e+02
 1.680e+02 2.000e+02 2.300e+01 2.290e+02 1.930e+02 1.630e+02 6.800e+01
 1.720e+02 1.830e+02 2.120e+02 2.870e+02 1.590e+02 1.500e+02 2.420e+02
 7.200e+01 1.550e+02 1.940e+02 4.400e+01 1.760e+02 1.520e+02 2.070e+02
 1.640e+02 1.690e+02 1.970e+02 1.880e+02 8.000e+00 5.200e+01 6.300e+01
 1.800e+01 1.820e+02 6.700e+01 1.840e+02 1.980e+02 1.560e+02 2.700e+01
 1.570e+02 1.480e+02 1.580e+02 1.890e+02 1.460e+02 5.600e+01 2.020e+02
 3.300e+01 1.650e+02 5.000e+00 2.980e+02 4.200e+01 2.540e+02 1.990e+02
 2.170e+02 2.480e+02 1.730e+02 5.300e+01 4.000e+01 4.500e+01 4.600e+01
 3.800e+01 2.700e+02 3.700e+01 2.190e+02 1.850e+02 5.400e+01 5.800e+01
 2.080e+02 5.500e+01 1.790e+02 2.030e+02 2.140e+02 2.390e+02 2.240e+02
 1.860e+02 5.700e+01 5.660e+02 5.900e+01 4.900e+01 6.600e+01 2.200e+02
 2.830e+02 2.730e+02 3.200e+02 3.660e+02 2.250e+02 2.920e+02 1.660e+02
 2.800e+01 2.000e+01 2.400e+01 4.100e+01 2.600e+01 3.150e+02 2.360e+02
 2.460e+02 3.200e+01 1.600e+01 2.900e+01 2.410e+02 2.050e+02 4.220e+02
 3.170e+02 3.600e+02 2.060e+02 3.400e+02 7.200e+02 4.300e+01 2.860e+02
 4.170e+02 2.100e+02 4.800e+01 4.700e+01 3.500e+01 2.670e+02 2.510e+02
 1.400e+01 4.500e+02 3.100e+01 2.040e+02 1.900e+02 3.520e+02 2.000e+00
 2.210e+02 3.400e+01 1.200e+01 2.370e+02 2.550e+02 3.900e+01 3.160e+02
 2.130e+02 3.320e+02 1.500e+01 5.010e+02 5.520e+02 2.500e+02 2.450e+02
 9.310e+02 3.990e+02 2.350e+02 9.250e+02 2.600e+02 2.230e+02 1.300e+01
 7.000e+00 2.520e+02 3.000e+00 9.000e+00 4.420e+02 2.400e+02 2.640e+02
 2.300e+02 3.450e+02 3.000e+02 2.200e+01 2.340e+02 3.570e+02 2.710e+02
 1.100e+01 2.100e+01 3.380e+02 1.000e+01 1.000e+00 1.900e+01 2.150e+02
 1.700e+01 4.100e+02 3.360e+02 4.000e+00 2.720e+02 2.810e+02 2.630e+02
 2.890e+02 6.800e+02 3.600e+01 3.700e+02 8.740e+02 1.140e+03 4.000e+02
 3.920e+02 4.850e+02 2.770e+02 6.000e+02 5.510e+02 2.880e+02 3.340e+02
 2.440e+02 4.700e+02 2.910e+02 1.960e+02 1.256e+03 2.850e+02 2.330e+02
 2.940e+02 2.820e+02 5.610e+02 2.650e+02 3.860e+02 8.770e+02 2.580e+02
 5.400e+02 9.000e+02 2.320e+02 4.640e+02 2.110e+02 6.690e+02 4.760e+02
 3.950e+02 2.900e+02 4.520e+02 3.130e+02 3.590e+02 5.000e+02 8.400e+02
 5.850e+02 3.630e+02 4.400e+02 6.440e+02 3.890e+02 2.220e+02 5.430e+02
 2.270e+02 4.680e+02 4.320e+02 2.680e+02 3.210e+02 5.230e+02 3.880e+02
 3.500e+02 4.800e+02 3.110e+02 5.500e+02 4.630e+02 3.830e+02 4.360e+02
 2.470e+02 3.530e+02 2.090e+02 3.060e+02 2.990e+02 3.490e+02 3.300e+02
 7.050e+02 5.830e+02 2.750e+02 7.800e+02]
Number of unique values in 'runtime': 353


----- spoken_languages -----
["[{'iso_639_1': 'en', 'name': 'English'}]"
 "[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]"
 "[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'EspaÃ±ol'}]"
 ...
 "[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]"
 "[{'iso_639_1': 'ar', 'name': 'Ø§Ù„Ø¹Ø±Ø¨ÙŠØ©'}, {'iso_639_1': 'pl', 'name': 'Polski'}]"
 "[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'iso_639_1': 'en', 'name': 'English'}]"]
Number of unique values in 'spoken_languages': 1931


----- status -----
['Released' nan 'Rumored' 'Post Production' 'In Production' 'Planned'
 'Canceled']
Number of unique values in 'status': 6


----- tagline -----
[nan 'Roll the dice and unleash the excitement!'
 'Still Yelling. Still Fighting. Still Ready for Love.' ...
 'Do you know what happened 50 years before "The Blair Witch Project"?'
 'Rising and falling between a man and woman' 'A deadly game of wits.']
Number of unique values in 'tagline': 20283

----- title -----
['Toy Story' 'Jumanji' 'Grumpier Old Men' ... 'Century of Birthing'
 'Satan Triumphant' 'Queerama']
Number of unique values in 'title': 42277


----- video -----
[False True nan]
Number of unique values in 'video': 2


----- vote_average -----
[ 7.7  6.9  6.5  6.1  5.7  6.2  5.4  5.5  6.6  7.1  7.8  7.2  6.4  6.
  6.3  7.   7.4  7.6  6.8  7.3  3.5  6.7  8.1  5.9  5.2  3.   5.8  4.5
  4.4  2.8  4.1  5.1  3.9  7.5  0.   7.9  5.6  3.3  5.3  4.3  3.8  5.
  4.  10.   4.9  4.6  4.7  2.5  4.8  8.2  8.3  8.5  8.   2.   3.4  3.7
  4.2  3.6  2.7  3.2  2.9  9.   9.3  8.8  8.7  1.5  1.7  3.1  1.   8.4
  2.4  8.6  8.9  1.2  1.6  2.3  1.3  1.9  0.5  2.1  2.6  9.1  1.8  9.5
  9.2  9.6  2.2  nan  1.4  9.8  9.4  0.7  1.1]
Number of unique values in 'vote_average': 92


----- vote_count -----
[5415. 2413.   92. ... 2083. 2002. 2712.]
Number of unique values in 'vote_count': 1820

# Checking for missing values (per column)

In [123]:
missing_per_column = movies.isnull().sum()
total_rows = movies.shape[0]
percentage_missing = (missing_per_column / total_rows) * 100

print("------MISSING------")
print(missing_per_column)
print("\n------PERCENTAGE MISSING------")
print(percentage_missing)

------MISSING------
adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

------PERCENTAGE MISSING------
adult                     0.000000
belongs_to_collection    90.115691
budget                    0.000000
genres                    0.000000
homepage                 82.883913
id                        0.000000
imdb_id                   0.037391
original_language         0.024194
original_title            0.000000
overview                  2.098271
popularity                0.010997
poster_path               0.848986
production_companies      0.006598
production_countries      0.006598
release_date              0.191352
revenue                   0.013197
runtime                   0.578454
spoken_languages          0.013197
status                    0.191352
tagline                  55.104914
title                     0.013197
video                     0.013197
vote_average              0.013197
vote_count                0.013197
dtype: float64

# Most common value for each column

In [124]:
def mode_percentage(column):
    mode_value = column.mode().iloc[0]
    mode_count = (column == mode_value).sum()
    total_count = column.count()  
    return mode_value, (mode_count / total_count) * 100


mode_info = {col: mode_percentage(movies[col]) for col in movies.columns}

for column, (value, percentage) in mode_info.items():
    print(f"{column}: Mode = {value}, Percentage = {percentage:.2f}%")

adult: Mode = False, Percentage = 99.97%
belongs_to_collection: Mode = {'id': 415931, 'name': 'The Bowery Boys', 'poster_path': '/q6sA4bzMT9cK7EEmXYwt7PNrL5h.jpg', 'backdrop_path': '/foe3kuiJmg5AklhtD3skWbaTMf2.jpg'}, Percentage = 0.65%
budget: Mode = 0, Percentage = 80.44%
genres: Mode = [{'id': 18, 'name': 'Drama'}], Percentage = 11.00%
homepage: Mode = http://www.georgecarlin.com, Percentage = 0.15%
id: Mode = 141971, Percentage = 0.01%
imdb_id: Mode = 0, Percentage = 0.01%
original_language: Mode = en, Percentage = 70.99%
original_title: Mode = Alice in Wonderland, Percentage = 0.02%
overview: Mode = No overview found., Percentage = 0.30%
popularity: Mode = 0.0, Percentage = 0.07%
poster_path: Mode = /5D7UBSEgdyONE6Lql6xS7s6OLcW.jpg, Percentage = 0.01%
production_companies: Mode = [], Percentage = 26.12%
production_countries: Mode = [{'iso_3166_1': 'US', 'name': 'United States of America'}], Percentage = 39.26%
release_date: Mode = 2008-01-01, Percentage = 0.30%
revenue: Mode = 0.0, Percentage = 83.70%
runtime: Mode = 90.0, Percentage = 5.65%
spoken_languages: Mode = [{'iso_639_1': 'en', 'name': 'English'}], Percentage = 49.26%
status: Mode = Released, Percentage = 99.20%
tagline: Mode = Based on a true story., Percentage = 0.03%
title: Mode = Cinderella, Percentage = 0.02%
video: Mode = False, Percentage = 99.80%
vote_average: Mode = 0.0, Percentage = 6.59%
vote_count: Mode = 1.0, Percentage = 7.18%

# Manipulating Json string into a list

In [125]:
# Define the data processing functions
def extract_genre_names(genre_string):
    if pd.isnull(genre_string):
        return []
    try:
        genre_list = json.loads(genre_string.replace("'", "\""))
        return [genre['name'] for genre in genre_list]
    except json.JSONDecodeError:
        return []

def extract_company_names(company_string):
    if pd.isnull(company_string):
        return []
    try:
        company_list = json.loads(company_string.replace("'", "\""))
        return [company['name'] for company in company_list]
    except json.JSONDecodeError:
        return []

def extract_country_names(country_string):
    if pd.isnull(country_string):
        return []
    try:
        country_data = json.loads(country_string.replace("'", "\""))
        return [country['name'] for country in country_data]
    except (json.JSONDecodeError, TypeError):
        return []

def extract_language_codes(language_string):
    if pd.isnull(language_string):
        return []
    try:
        language_list = json.loads(language_string.replace("'", "\""))
        return [language['iso_639_1'] for language in language_list]
    except (json.JSONDecodeError, TypeError):
        return []

movies['genre_list'] = movies['genres'].apply(extract_genre_names)
movies['company_list'] = movies['production_companies'].apply(extract_company_names)
movies['country_list'] = movies['production_countries'].apply(extract_country_names)
movies['language_codes'] = movies['spoken_languages'].apply(extract_language_codes)

# Bayesian Average

In [126]:
C = movies['vote_count'].mean()
m = movies['vote_average'].mean()


def bayesian_avg(vote_count, vote_average, C=C, m=m):
    bayesian_avg = (C * m + vote_count * vote_average) / (C + vote_count)
    return round(bayesian_avg, 3)


movies['bayesian_average'] = movies.apply(lambda x: bayesian_avg(x['vote_count'], x['vote_average']), axis=1)

# Saving the updated movies dataset

In [127]:
movies.to_csv('updated_movies.csv', index=False)

# Credits

In [128]:
import pandas as pd
import ast


csv_file_path = 'credits.csv'
df = pd.read_csv(csv_file_path)

def extract_cast_name(cast_str):
    try:
        cast_data = ast.literal_eval(cast_str)
        return [person['name'] for person in cast_data]
    except ValueError as e:
        print(f"ValueError in cast: {e}")
        return []
    except SyntaxError as e:
        print(f"SyntaxError in cast: {e}")
        return []


def extract_job_name_pairs(crew_str):
    try:
        crew_data = ast.literal_eval(crew_str)
        return [[person['job'], person['name']] for person in crew_data]
    except ValueError as e:
        print(f"ValueError in crew: {e}")
        return []
    except SyntaxError as e:
        print(f"SyntaxError in crew: {e}")
        return []


df['actor_names'] = df['cast'].apply(extract_cast_name)
df['job_name_pairs'] = df['crew'].apply(extract_job_name_pairs)

df = df.drop(columns=['cast', 'crew'])


df.to_csv('updated_credits.csv', index=False)

# Combining the updated movies and credits

In [129]:
# Load the movies dataframe with low_memory set to False to handle mixed data types more gracefully
movies_df = pd.read_csv('updated_movies.csv', low_memory=False)  # Adjust the filename if necessary

# Load the credits dataframe
credits_df = pd.read_csv('updated_credits.csv', low_memory=False)

# Ensure the 'id' columns are of type string for both dataframes
movies_df['id'] = movies_df['id'].astype(str)
credits_df['id'] = credits_df['id'].astype(str)

# Now merge the dataframes on the 'id' column
merged_df = pd.merge(movies_df, credits_df, on='id', how='inner')

# Dropping columns not needed and filtering

In [130]:
movies_filtered = merged_df[merged_df['status'] == 'Released'].copy()

columns_to_drop = [
    'belongs_to_collection', 'homepage', 'tagline', 'id', 'imdb_id', 'poster_path',
    'genres', 'production_companies', 'production_countries', 'spoken_languages',
    'status', 'video', 'adult',
    'cast', 'crew'  
]


movies_filtered.drop(columns_to_drop, axis=1, inplace=True, errors='ignore')

# Dropping rows with one or more empty values. Also dropping values with all empty lists.

In [131]:
import ast
def convert_to_list(x):
    try:
        return ast.literal_eval(x) if isinstance(x, str) else x
    except ValueError:
        return []

for col in ['genre_list', 'company_list', 'country_list', 'language_codes']:
    movies_filtered[col] = movies_filtered[col].apply(convert_to_list)

# Calculate missing values in each row
movies_filtered['missing_values'] = movies_filtered.isna().sum(axis=1)

# Create conditions
condition_more_than_one_missing = movies_filtered['missing_values'] >= 1
condition_all_lists_empty = movies_filtered.apply(lambda row: all(not lst for lst in [
    row.get('genre_list', []),
    row.get('company_list', []),
    row.get('country_list', []),
    row.get('language_codes', [])
]), axis=1)

# Drop temporary 'missing_values' column
movies_filtered.drop('missing_values', axis=1, inplace=True)

# Combine conditions
final_condition = condition_more_than_one_missing | condition_all_lists_empty


print(f"Total number of rows with more than one missing value: {condition_more_than_one_missing.sum()}")
print(f"Number of rows with all four lists empty: {condition_all_lists_empty.sum()}")

Total number of rows with more than one missing value: 994
Number of rows with all four lists empty: 1038

# Preprocessing Credits file

In [132]:
final_dataframe = movies_filtered[~final_condition]
final_dataframe.to_csv('final_processed_movies.csv', index=False)

# ---------------------------------------------------------------------