# Importing Dependencies

In [127]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, lit, count, desc
import pandas as pd
import pyspark.pandas as ps
import time

In [128]:
spark = SparkSession.builder.getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

# Combine credits and movies with spark

In [129]:
start_time = time.time()
movies_df = spark.read.csv('movies_metadata.csv', header=True, inferSchema=True) 
credits_df = spark.read.csv('credits.csv', header=True, inferSchema=True)
merged_df = movies_df.join(credits_df, 'id', how="left")
movies = merged_df.select([col(column).alias(column) for column in merged_df.columns])
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {} seconds".format(execution_time),"\n")
movies.describe()

Execution Time: 0.9853003025054932 seconds

+-------+--------------------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+------------------+--------------------+--------------------+--------------------+
|summary|                  id|              adult|belongs_to_collection|              budget|              genres|            homepage|             imdb_id| original_language|                     original_title|            overview|          popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|              status|             tagline|          title|             video|      vote_average|          vote_count|                cast|                crew|
+-------+--------------------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+------------------+--------------------+--------------------+--------------------+
|  count|               45593|              45624|                 4599|               45607|               45601|                7945|               45499|             45579|                              45592|               44639|               45504|               45143|               45500|               45504|               45430|               45488|               45220|               45460|               45379|               22462|          44844|             45071|             45126|               45235|               30444|               30444|
|   mean|  108447.95143850865|               NULL|   1.5354219545454546|   4202290.784726801|  1.3762527647058824|  1.20138598385652E7|    3192598.23066984|40425.985977624114|                           Infinity|  61.845339464285715|  3.1102518881897616|   46040.62888631836|   3.555160211212517|    2.74487174952919|   9.423253800000003|1.1196728180994317E7|   293061.3899904991|    5603285.58488431|  2768004.1144554955|  3069067.3301011976|       Infinity| 253444.6959450624|20575.380087096473|   4473.087871040183|                NULL|                NULL|
| stddev|  112451.45094333129|               NULL|    2.894760531002529|1.7383366622568272E7|  1.4278676612523273|  2.57577554233657E7|1.5959850652741546E7| 75151.75502384249|                                NaN|   52.90864238731893|  17.884925168204436|  1372579.6499789497|  7.7982044927776055|   5.136821098420218|  102.16439163497273| 6.484514654717016E7|   9019401.179126233|3.8355251012660585E7|1.9379730911569554E7| 4.092906602844209E7|            NaN|2544186.8449616176| 2175386.784584979|   389656.4644651641|                NULL|                NULL|
|    min|              1978."| (Post-apocalypse)"|  ""NO DOWN PAYMEN...| ""The Adventure ...|  ""His Last Bow""."| 'backdrop_path':...|             252 252|    Rachel Roberts|                        Janice Rule|                    | "" a fearful soc...|  Simon Sparrow's...| ""A Woman in the...|  The Kentucky Fr...|  and Saturday Ni...| ""An Affirmative...| ""Prosecuting Ca...| ""Slave of Love"...| ""Nightmare on E...| ""Playboy After ...|               |      'id': 10254}|      ""Raw Deal""| ""Taking Chances...|                  []|                  []|
|    max|[{'name': 'Warner...|               True| {'id': 99727, 'na...|              998000|[{'name': 'WhiteF...|https://zeitgeist...|           tt7158814|                zu|ＳＭガールズ セイバーマリオネットＲ|…ere erera baleib...|                귀향|” takes the trope...|who lives with ec...|if you like Japan...|Приключения Шерло...|[{'name': 'Ритм',...|” ""Revue"" illus...|[{'name': 'mark e...|violence and non-...|    李麗珍蜜桃成熟時|劇場版 クラナド|         ¡Cuba Sí!|        Üvegtigris|       Убить дракона|[{'cast_id': 96, ...|[{'credit_id': '5...|
+-------+--------------------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+------------------+--------------------+--------------------+--------------------+

In [130]:
start_time = time.time()
movies_df = spark.read.csv('movies_metadata.csv', header=True, inferSchema=True) 
credits_df = spark.read.csv('credits.csv', header=True, inferSchema=True)
merged_df = movies_df.join(credits_df, 'id', how="inner")
movies = merged_df.select([col(column).alias(column) for column in merged_df.columns])
end_time = time.time()
execution_time = end_time - start_time
print("\nExecution Time: {} seconds".format(execution_time),"\n")
movies.describe()

Execution Time: 0.6276540756225586 seconds

+-------+------------------+-----+---------------------+-------------------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|summary|                id|adult|belongs_to_collection|             budget|              genres|            homepage|  imdb_id|original_language|      original_title|            overview|          popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|              status|             tagline|          title|            video|        vote_average|          vote_count|                cast|                crew|
+-------+------------------+-----+---------------------+-------------------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|  count|             30444|30444|                 2485|              30444|               30444|                5232|    30429|            30433|               30444|               29675|               30384|               30037|               30378|               30378|               30304|               30379|               30142|               30381|               30313|               13237|          29941|            30143|               30155|               30229|               30444|               30444|
|   mean|119887.84151228485| NULL|                 NULL|  2099919.013368808|                NULL|                NULL|     NULL|             NULL|            Infinity|                NULL|   2.340732719525582|   5.346850034188036|  2.1086226378504676|  1.8349173524096385|         9.760002872|   4551300.727422011|  108648.51116568765|  1586230.8909380108|  1105145.3963309478|   1990411.665723407|       Infinity|74648.98852185241|   384.6664769907776|  1614.6055418944864|                NULL|                NULL|
| stddev|116268.26166845676| NULL|                 NULL|1.070886415724938E7|                NULL|                NULL|     NULL|             NULL|                 NaN|                NULL|   17.14364818964918|    81.2175512154099|  3.0559939058692773|  2.7607970026817807|     124.06525249176| 3.322694739261541E7|  4013187.5560036367|1.8398441034172904E7|   9435728.352159018|2.7721148760198362E7|            NaN|721451.8882183501|    38582.2320958823|   220549.4643838867|                NULL|                NULL|
|    min|             10000|False| {'id': 100965, 'n...|                  0|                  []|  http://009.ph9.jp/|tt0000001|               ab|!Women Art Revolu...|                    | "" a fearful soc...|  Simon Sparrow's...| ""A Woman in the...| ""Chillerama"") ...|  this compilatio...| ""An Affirmative...| ""Prosecuting Ca...| ""Slave of Love"...| ""Nightmare on E...| ""Playboy After ...|               |     'id': 10254}|        ""Raw Deal""| ""Taking Chances...|                  []|                  []|
|    max|             99977| True| {'id': 99727, 'na...|             998000|[{'id': 99, 'name...|https://zeitgeist...|tt7158814|               zu|      ３－４Ｘ１０月|…ere erera baleib...|who is unable to ...|torture and rape....|the acting is oka...|if you like Japan...|[{'name': 'Студия...|[{'name': 'greens...|” ""Revue"" illus...|[{'name': 'mark e...|violence and non-...|    李麗珍蜜桃成熟時|劇場版 クラナド|        ¡Cuba Sí!|[{'name': 'Warner...|       Убить дракона|[{'cast_id': 96, ...|[{'credit_id': '5...|
+-------+------------------+-----+---------------------+-------------------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+

# Reading the Dataset

In [131]:
movies.describe()

+-------+------------------+-----+---------------------+-------------------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|summary|                id|adult|belongs_to_collection|             budget|              genres|            homepage|  imdb_id|original_language|      original_title|            overview|          popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|              status|             tagline|          title|            video|        vote_average|          vote_count|                cast|                crew|
+-------+------------------+-----+---------------------+-------------------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|  count|             30444|30444|                 2485|              30444|               30444|                5232|    30429|            30433|               30444|               29675|               30384|               30037|               30378|               30378|               30304|               30379|               30142|               30381|               30313|               13237|          29941|            30143|               30155|               30229|               30444|               30444|
|   mean|119887.84151228485| NULL|                 NULL|  2099919.013368808|                NULL|                NULL|     NULL|             NULL|            Infinity|                NULL|   2.340732719525582|   5.346850034188036|  2.1086226378504676|  1.8349173524096385|         9.760002872|   4551300.727422011|  108648.51116568765|  1586230.8909380108|  1105145.3963309478|   1990411.665723407|       Infinity|74648.98852185241|   384.6664769907776|  1614.6055418944864|                NULL|                NULL|
| stddev|116268.26166845676| NULL|                 NULL|1.070886415724938E7|                NULL|                NULL|     NULL|             NULL|                 NaN|                NULL|   17.14364818964918|    81.2175512154099|  3.0559939058692773|  2.7607970026817807|     124.06525249176| 3.322694739261541E7|  4013187.5560036367|1.8398441034172904E7|   9435728.352159018|2.7721148760198362E7|            NaN|721451.8882183501|    38582.2320958823|   220549.4643838867|                NULL|                NULL|
|    min|             10000|False| {'id': 100965, 'n...|                  0|                  []|  http://009.ph9.jp/|tt0000001|               ab|!Women Art Revolu...|                    | "" a fearful soc...|  Simon Sparrow's...| ""A Woman in the...| ""Chillerama"") ...|  this compilatio...| ""An Affirmative...| ""Prosecuting Ca...| ""Slave of Love"...| ""Nightmare on E...| ""Playboy After ...|               |     'id': 10254}|        ""Raw Deal""| ""Taking Chances...|                  []|                  []|
|    max|             99977| True| {'id': 99727, 'na...|             998000|[{'id': 99, 'name...|https://zeitgeist...|tt7158814|               zu|      ３－４Ｘ１０月|…ere erera baleib...|who is unable to ...|torture and rape....|the acting is oka...|if you like Japan...|[{'name': 'Студия...|[{'name': 'greens...|” ""Revue"" illus...|[{'name': 'mark e...|violence and non-...|    李麗珍蜜桃成熟時|劇場版 クラナド|        ¡Cuba Sí!|[{'name': 'Warner...|       Убить дракона|[{'cast_id': 96, ...|[{'credit_id': '5...|
+-------+------------------+-----+---------------------+-------------------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+--------------------+--------------------+--------------------+

# Checking for missing values (per column)

In [132]:
start_time = time.time()
total_rows = movies.count()
missing_values_counts = [sum(col(column).isNull().cast("int")).alias(column) for column in movies.columns]
missing_values_df = movies.select(missing_values_counts)
missing_values_percentages = missing_values_df.select(
    *[(col(column) / total_rows * 100).alias(column) for column in missing_values_df.columns]
)
missing_values_df = missing_values_df.union(missing_values_percentages)
missing_values_df = missing_values_df.toPandas().T
missing_values_df = missing_values_df.rename(columns={0: "Missing Values", 1: "Missing Values Percentage"})
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {} seconds".format(execution_time), "\n")
missing_values_df

Execution Time: 3.108041763305664 seconds

                       Missing Values  Missing Values Percentage
id                                0.0                   0.000000
adult                             0.0                   0.000000
belongs_to_collection         27959.0                  91.837472
budget                            0.0                   0.000000
genres                            0.0                   0.000000
homepage                      25212.0                  82.814348
imdb_id                          15.0                   0.049271
original_language                11.0                   0.036132
original_title                    0.0                   0.000000
overview                        769.0                   2.525949
popularity                       60.0                   0.197083
poster_path                     407.0                   1.336881
production_companies             66.0                   0.216791
production_countries             66.0                   0.216791
release_date                    140.0                   0.459861
revenue                          65.0                   0.213507
runtime                         302.0                   0.991985
spoken_languages                 63.0                   0.206937
status                          131.0                   0.430298
tagline                       17207.0                  56.520168
title                           503.0                   1.652214
video                           301.0                   0.988701
vote_average                    289.0                   0.949284
vote_count                      215.0                   0.706215
cast                              0.0                   0.000000
crew                              0.0                   0.000000

# Dropping Columns

In [133]:
start_time = time.time()
columns_to_drop = [
    'belongs_to_collection', 'homepage', 'tagline', 'imdb_id', 'id', 'poster_path'
]

movies = movies.drop(*columns_to_drop)
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {} seconds".format(execution_time), "\n")

Execution Time: 0.008893966674804688 seconds

# Checking for unique values (by column)

In [134]:
start_time = time.time()
unique_values = {}
for column in movies.columns:
    unique_values[column] = movies.select(column).distinct()

# Show unique values for each column
for column, values in unique_values.items():
    print(f"Unique values for column '{column}':")
    values.show()
    print(f"Number of unique values for column '{column}':", values.count())
    print('\n')
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {} seconds".format(execution_time))

Unique values for column 'adult':
+-----+
|adult|
+-----+
|False|
| True|
+-----+

Number of unique values for column 'adult': 2


Unique values for column 'budget':
+--------+
|  budget|
+--------+
|36000000|
|  150000|
|34000000|
| 4940939|
|45000000|
| 1250000|
|  750000|
|37000000|
|48000000|
|14000000|
|15000000|
|      30|
|  935000|
|   90000|
|     250|
|   67000|
|       8|
|16400000|
|  609000|
| 7500000|
+--------+
only showing top 20 rows

Number of unique values for column 'budget': 820


Unique values for column 'genres':
+--------------------+
|              genres|
+--------------------+
|[{'id': 12, 'name...|
|[{'id': 18, 'name...|
|[{'id': 53, 'name...|
|[{'id': 14, 'name...|
|[{'id': 28, 'name...|
|[{'id': 28, 'name...|
|[{'id': 99, 'name...|
|[{'id': 53, 'name...|
|[{'id': 12, 'name...|
|[{'id': 35, 'name...|
|[{'id': 35, 'name...|
|[{'id': 14, 'name...|
|[{'id': 18, 'name...|
|[{'id': 12, 'name...|
|[{'id': 12, 'name...|
|[{'id': 99, 'name...|
|[{'id': 10749, 'n...|
|[{'id': 10749, 'n...|
|[{'id': 28, 'name...|
|[{'id': 10749, 'n...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'genres': 3014


Unique values for column 'original_language':
+-----------------+
|original_language|
+-----------------+
|               en|
|               nb|
|               ro|
|               pl|
|               cn|
|               pt|
|               ko|
|               cs|
|               de|
|               es|
|               el|
|               it|
|               ar|
|               sv|
|               nl|
|               hu|
|               ru|
|               fa|
|               no|
|               cy|
+-----------------+
only showing top 20 rows

Number of unique values for column 'original_language': 87


Unique values for column 'original_title':
+--------------------+
|      original_title|
+--------------------+
|  Living in Oblivion|
|      Flesh and Bone|
|Und keiner weint ...|
|War Stories Our M...|
|         Echte Kerle|
|      Wild Man Blues|
|              Heaven|
|      Les misérables|
|        Country Life|
|The Story of Xinghua|
|The Million Dolla...|
|           Il mostro|
|The Bridges of Ma...|
|          Free Willy|
|     Mina Tannenbaum|
| Grosse Pointe Blank|
|       Soylent Green|
|            20 Dates|
|       The Last Days|
|         Touki-Bouki|
+--------------------+
only showing top 20 rows

Number of unique values for column 'original_title': 29517


Unique values for column 'overview':
+--------------------+
|            overview|
+--------------------+
|French Kiss is di...|
|Bounced from her ...|
|The Live action a...|
|A disease carried...|
|A lawless poacher...|
|Despite being wel...|
|Ben Holmes, a pro...|
|This film adaptat...|
|Dolores Claiborne...|
|Mousie and Sad Gi...|
|Naked in New York...|
|This outrageous t...|
|Bill McKay is a c...|
|A young boy and a...|
|Unable, due to th...|
|Combat has taken ...|
|A couple, cheated...|
|An ex-con holds a...|
|Emerging from the...|
|"The movie is cen...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'overview': 29475


Unique values for column 'popularity':
+--------------------+
|          popularity|
+--------------------+
|           10.091707|
|            0.271674|
|            0.071497|
|            1.426289|
|            8.266984|
|            2.936443|
|           12.099799|
|            4.021579|
|            1.948315|
|            0.670559|
| upon hearing the...|
|            1.317878|
|           11.924462|
|            1.217192|
|            7.983666|
|            1.777197|
|            0.613335|
|            7.272296|
|            8.399114|
|           10.177086|
+--------------------+
only showing top 20 rows

Number of unique values for column 'popularity': 29194


Unique values for column 'production_companies':
+--------------------+
|production_companies|
+--------------------+
|[{'name': 'Filmwe...|
|[{'name': 'Fox Se...|
|         menace them|
|[{'name': 'FilmDa...|
|[{'name': 'Hollyw...|
|[{'name': 'HBO In...|
|[{'name': 'Univer...|
|[{'name': 'Mercha...|
|[{'name': 'Propag...|
|[{'name': 'Initia...|
|[{'name': 'Mirama...|
|"" the oddball di...|
|[{'name': 'Sandre...|
|            0.910655|
|/ii4bqnfm5aW3TxqG...|
|[{'name': 'Touchs...|
|[{'name': 'Wood-T...|
|/pVmbZ54aZd4BcRfw...|
|[{'name': 'Twenti...|
| when it becomes ...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'production_companies': 16050


Unique values for column 'production_countries':
+--------------------+
|production_countries|
+--------------------+
|[{'iso_3166_1': '...|
|           11.054751|
|/qLijlmE6AJjpCU8f...|
|[{'iso_3166_1': '...|
|[{'iso_3166_1': '...|
|         'id': 8171}|
|[{'name': 'Paramo...|
|[{'name': 'Touchs...|
|[{'iso_3166_1': '...|
|/woERgwsyAb318gMM...|
|[{'iso_3166_1': '...|
|       'id': 1257}]"|
|/9T1YxwFZcUjy60xW...|
|/d2gjvvtmhtL2AVAJ...|
|/gMuV7ORN8rRfQPMI...|
|[{'iso_3166_1': '...|
| drug-hazed mistress|
|/22qX6CExu5BfIZCi...|
|[{'name': 'Walt D...|
|[{'name': 'Ignite...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'production_countries': 3769


Unique values for column 'release_date':
+--------------------+
|        release_date|
+--------------------+
|          1994-08-31|
|          1997-09-28|
|          1941-12-12|
|          1982-12-10|
|          1958-03-27|
|          1995-01-26|
|          1981-07-10|
|          1993-08-06|
|          1994-12-09|
|          1950-11-09|
|          1957-07-11|
|          1997-09-24|
|          1995-05-17|
|          1973-06-15|
|          1955-07-01|
|          1995-06-01|
|          1994-12-14|
| mixes with a mus...|
|          1962-10-24|
|          1997-07-18|
+--------------------+
only showing top 20 rows

Number of unique values for column 'release_date': 14252


Unique values for column 'revenue':
+--------------------+
|             revenue|
+--------------------+
|          1997-09-28|
|             1334786|
|             3335984|
|            21300000|
|             1179002|
|[{'name': 'Paramo...|
|           262797249|
|           182016617|
|           113309743|
|            31987563|
|              368234|
|/y5u1cxjtOCaQRZZU...|
|          1971-12-18|
|            69821334|
|            62548947|
|            38172500|
|           250821495|
|           255000211|
|            11146270|
|             1723872|
+--------------------+
only showing top 20 rows

Number of unique values for column 'revenue': 4810


Unique values for column 'runtime':
+--------------------+
|             runtime|
+--------------------+
|               102.0|
|               151.0|
|[{'iso_3166_1': '...|
|          1997-07-18|
|               116.0|
|                84.0|
|          1995-09-15|
|               127.0|
|               145.0|
| {'name': 'Lamy F...|
|                50.0|
|                75.0|
|[{'name': 'Fine L...|
|                65.0|
|               118.0|
|             1814290|
|                90.0|
|               170.0|
| a fan of traditi...|
|          1998-01-23|
+--------------------+
only showing top 20 rows

Number of unique values for column 'runtime': 1638


Unique values for column 'spoken_languages':
+--------------------+
|    spoken_languages|
+--------------------+
|[{'iso_639_1': 'c...|
|[{'iso_3166_1': '...|
|[{'iso_639_1': 'e...|
|[{'iso_639_1': 'c...|
|          1974-10-18|
|[{'iso_639_1': 'e...|
|[{'iso_639_1': 'i...|
|[{'iso_3166_1': '...|
|               116.0|
|               127.0|
|[{'iso_639_1': 'e...|
|[{'iso_639_1': 'e...|
|[{'name': 'Columb...|
|[{'iso_639_1': 'd...|
|[{'iso_639_1': 'e...|
|/pDGYcWlxSUwX3oib...|
|[{'iso_639_1': 'e...|
|[{'iso_639_1': 'i...|
|[{'iso_639_1': 'e...|
|                90.0|
+--------------------+
only showing top 20 rows

Number of unique values for column 'spoken_languages': 2433


Unique values for column 'status':
+--------------------+
|              status|
+--------------------+
|          1984-11-16|
|[{'iso_639_1': 'e...|
|[{'name': 'Eureka...|
|          1996-01-01|
|               118.0|
|[{'iso_639_1': 'e...|
|          1994-12-22|
|"[{'name': 'TriSt...|
|[{'iso_3166_1': '...|
|             Rumored|
|          1991-10-17|
|                83.0|
|[{'iso_3166_1': '...|
|            Released|
|                   0|
|[{'iso_3166_1': '...|
|               108.0|
|                78.0|
|/ihX2udk636JMAAaW...|
|             4500000|
+--------------------+
only showing top 20 rows

Number of unique values for column 'status': 909


Unique values for column 'title':
+--------------------+
|               title|
+--------------------+
|  Living in Oblivion|
|      Flesh and Bone|
|Und keiner weint ...|
|War Stories Our M...|
|      Wild Man Blues|
|              Heaven|
|The Story of Xinghua|
|The Million Dolla...|
|The Bridges of Ma...|
|          Free Willy|
|     Mina Tannenbaum|
| Grosse Pointe Blank|
|       Soylent Green|
|       The Last Days|
|           Hugo Pool|
|             Phoenix|
|       Billy Madison|
|  To Be or Not to Be|
|               Macao|
|       Parallel Sons|
+--------------------+
only showing top 20 rows

Number of unique values for column 'title': 27488


Unique values for column 'video':
+--------------------+
|               video|
+--------------------+
|Five Kids. One Se...|
|     Colonel Chabert|
|            0.036478|
|  Opposites attract.|
|He's got 5 days t...|
|When Nothing Work...|
|   Hurricane Streets|
|         The Apostle|
|        A Bug's Life|
|               118.0|
|He as a centerfol...|
|Get Together. Fal...|
|             Thinner|
|[{'iso_639_1': 'z...|
|             Rumored|
|          1995-06-23|
|            Released|
|                   0|
|               False|
|             Jeffrey|
+--------------------+
only showing top 20 rows

Number of unique values for column 'video': 1328


Unique values for column 'vote_average':
+--------------------+
|        vote_average|
+--------------------+
|                 8.5|
|A Sublime Trip to...|
|        Country Life|
|                 8.2|
|                 7.3|
|                 8.3|
|                 4.2|
|Anabel made a wis...|
|/chz5wJezJZVsMZZX...|
|[{'iso_639_1': 'e...|
|         The Getaway|
|          Love Jones|
|                90.0|
|A Damsel in Distress|
|                 6.1|
|                 4.4|
|                 2.7|
|                 3.8|
|Trouble never loo...|
|      The Land Girls|
+--------------------+
only showing top 20 rows

Number of unique values for column 'vote_average': 964


Unique values for column 'vote_count':
+----------+
|vote_count|
+----------+
|       125|
|      1241|
|         7|
|       124|
|      2550|
|        51|
|       447|
|       307|
|       169|
|       747|
|       272|
|        15|
|        54|
|       232|
|       282|
|       317|
|       132|
|       4.2|
|       388|
|       200|
+----------+
only showing top 20 rows

Number of unique values for column 'vote_count': 1644


Unique values for column 'cast':
+--------------------+
|                cast|
+--------------------+
|[{'cast_id': 1, '...|
|[{'cast_id': 7, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 2, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 13, ...|
|[{'cast_id': 1, '...|
|[{'cast_id': 13, ...|
|[{'cast_id': 2, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 8, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 8, '...|
|[{'cast_id': 5, '...|
|[{'cast_id': 0, '...|
|[{'cast_id': 3, '...|
|[{'cast_id': 3, '...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'cast': 27985


Unique values for column 'crew':
+--------------------+
|                crew|
+--------------------+
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'crew': 29634


Execution Time: 39.536752223968506 seconds

# Most common value for each column

In [135]:
start_time = time.time()
most_common_values = {}
for column in movies.columns:
    column_counts = movies.groupBy(column).agg(count("*").alias("count"))
    total_count = movies.count()
    column_counts_with_percentage = column_counts.withColumn("percentage", (col("count") / total_count) * 100)
    column_counts_with_percentage = column_counts_with_percentage.orderBy(desc("count"))
    most_common_values[column] = (column_counts_with_percentage.first()[column],
                                  column_counts_with_percentage.first()["percentage"])

for column, (value, percentage) in most_common_values.items():
    print(f"{column}: {value}, Percentage: {percentage:.2f}%")

end_time = time.time()
execution_time = end_time - start_time
print("\nExecution Time: {} seconds".format(execution_time), "\n")

adult: False, Percentage: 99.98%
budget: 0, Percentage: 85.07%
genres: [{'id': 18, 'name': 'Drama'}], Percentage: 11.19%
original_language: en, Percentage: 69.03%
original_title: Blackout, Percentage: 0.04%
overview: None, Percentage: 2.53%
popularity: 0.0, Percentage: 0.21%
production_companies: [], Percentage: 29.61%
production_countries: [{'iso_3166_1': 'US', 'name': 'United States of America'}], Percentage: 31.64%
release_date: [{'iso_3166_1': 'US', 'name': 'United States of America'}], Percentage: 0.93%
revenue: 0, Percentage: 81.55%
runtime: 90.0, Percentage: 5.63%
spoken_languages: [{'iso_639_1': 'en', 'name': 'English'}], Percentage: 42.37%
status: Released, Percentage: 90.89%
title: None, Percentage: 1.65%
video: False, Percentage: 91.70%
vote_average: 0.0, Percentage: 7.37%
vote_count: 1, Percentage: 7.58%
cast: [], Percentage: 7.86%
crew: [], Percentage: 2.44%

Execution Time: 47.63456964492798 seconds

# Filtering and dropping further

In [136]:
start_time = time.time()
filtered_movies = movies.filter(movies.adult == 'False')
filtered_movies = filtered_movies.filter(movies.status == 'Released')
filtered_movies = filtered_movies.filter(movies.video == False)

columns_to_drop = [
    'adult', 'status', 'video'
]

filtered_movies = filtered_movies.drop(*columns_to_drop)
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {} seconds".format(execution_time))

Execution Time: 0.021174192428588867 seconds

# Looking for duplicates and removing them

In [137]:
start_time = time.time()
duplicate_rows = filtered_movies.groupBy(filtered_movies.columns).count().where(col("count") > 1)
print('Number of duplicate rows: ', duplicate_rows.count())
filtered_movies = filtered_movies.dropDuplicates()
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {} seconds".format(execution_time))

Number of duplicate rows:  32
Execution Time: 4.7897844314575195 seconds

# A Summary of the dataset

In [138]:
filtered_movies.describe()

+-------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+-------------------------+--------------------+------------+-------------------+-----------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+
|summary|              budget|              genres|original_language|      original_title|            overview|          popularity|     production_companies|production_countries|release_date|            revenue|          runtime|    spoken_languages|               title|     vote_average|        vote_count|                cast|                crew|
+-------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+-------------------------+--------------------+------------+-------------------+-----------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+
|  count|               27535|               27535|            27525|               27535|               26803|               27535|                    27535|               27535|       27467|              27535|            27303|               27535|               27535|            27535|             27535|               27535|               27535|
|   mean|  2147162.6877428726|                NULL|             NULL|            Infinity|                NULL|  2.2153730958088196|                     NULL|                NULL|        NULL|  4646212.097657527| 91.2240779401531|                NULL|            Infinity|5.506046849464313| 51.94196477210823|                NULL|                NULL|
| stddev|1.0873656322729306E7|                NULL|             NULL|                 NaN|                NULL|   4.859174952004865|                     NULL|                NULL|        NULL|3.359251806965458E7|40.68647042874441|                NULL|                 NaN|2.036508355414303|243.64495509049902|                NULL|                NULL|
|    min|                   0|                  []|               ab|!Women Art Revolu...|                    | including a wron...|            'id': 8411}]"|"[{'iso_3166_1': ...|  1874-12-09|                  0|              0.0|                  []|!Women Art Revolu...|              0.0|                 0|                  []|                  []|
|    max|              998000|[{'id': 99, 'name...|               zu|      ３－４Ｘ１０月|…ere erera baleib...|               9e-06|[{'name': '이디오플랜'...|[{'iso_3166_1': '...|  2017-12-27|           99423521|             99.0|[{'iso_639_1': 'z...|    ファンタスティポ|              9.8|               998|[{'cast_id': 96, ...|[{'credit_id': '5...|
+-------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+-------------------------+--------------------+------------+-------------------+-----------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+