# Importing Dependencies

In [82]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, lit, count, desc
import pandas as pd
import time

# Combine credits and movies

In [83]:
start_time = time.time()
spark = SparkSession.builder \
    .appName("CSV Merge") \
    .getOrCreate()

movies_df = spark.read.csv('movies_metadata.csv', header=True, inferSchema=True) 
credits_df = spark.read.csv('credits.csv', header=True, inferSchema=True)

merged_df = movies_df.join(credits_df, on=['id'], how='inner')
end_time = time.time()
# Calculate the execution time
execution_time = end_time - start_time

# Print the execution time
print("Execution Time: {} seconds".format(execution_time))

Execution Time: 1.1713840961456299 seconds

# Reading the Dataset

In [84]:
movies = merged_df.select([col(column).alias(column) for column in merged_df.columns])

# Checking for missing values (per column)

In [85]:
total_rows = movies.count()
missing_values_counts = [sum(col(column).isNull().cast("int")).alias(column) for column in movies.columns]
missing_values_df = movies.select(missing_values_counts)
missing_values_percentages = missing_values_df.select(
    *[(col(column) / total_rows * 100).alias(column) for column in missing_values_df.columns]
)
missing_values_df = missing_values_df.union(missing_values_percentages)
missing_values_df = missing_values_df.toPandas().T
missing_values_df = missing_values_df.rename(columns={0: "Missing Values", 1: "Missing Values Percentage"})
missing_values_df

                       Missing Values  Missing Values Percentage
id                                0.0                   0.000000
adult                             0.0                   0.000000
belongs_to_collection         27959.0                  91.837472
budget                            0.0                   0.000000
genres                            0.0                   0.000000
homepage                      25212.0                  82.814348
imdb_id                          15.0                   0.049271
original_language                11.0                   0.036132
original_title                    0.0                   0.000000
overview                        769.0                   2.525949
popularity                       60.0                   0.197083
poster_path                     407.0                   1.336881
production_companies             66.0                   0.216791
production_countries             66.0                   0.216791
release_date                    140.0                   0.459861
revenue                          65.0                   0.213507
runtime                         302.0                   0.991985
spoken_languages                 63.0                   0.206937
status                          131.0                   0.430298
tagline                       17207.0                  56.520168
title                           503.0                   1.652214
video                           301.0                   0.988701
vote_average                    289.0                   0.949284
vote_count                      215.0                   0.706215
cast                              0.0                   0.000000
crew                              0.0                   0.000000

# Dropping Columns

In [86]:
columns_to_drop = [
    'belongs_to_collection', 'homepage', 'tagline', 'imdb_id', 'id', 'poster_path'
]


movies = movies.drop(*columns_to_drop)

# Checking for unique values (by column)

In [87]:
unique_values = {}
for column in movies.columns:
    unique_values[column] = movies.select(column).distinct()

# Show unique values for each column
for column, values in unique_values.items():
    print(f"Unique values for column '{column}':")
    values.show()
    print(f"Number of unique values for column '{column}':", values.count())
    print('\n')

Unique values for column 'adult':
+-----+
|adult|
+-----+
|False|
| True|
+-----+

Number of unique values for column 'adult': 2


Unique values for column 'budget':
+--------+
|  budget|
+--------+
|36000000|
|  150000|
|34000000|
| 4940939|
|45000000|
| 1250000|
|  750000|
|37000000|
|48000000|
|14000000|
|15000000|
|      30|
|  935000|
|   90000|
|     250|
|   67000|
|       8|
|16400000|
|  609000|
| 7500000|
+--------+
only showing top 20 rows

Number of unique values for column 'budget': 820


Unique values for column 'genres':
+--------------------+
|              genres|
+--------------------+
|[{'id': 12, 'name...|
|[{'id': 18, 'name...|
|[{'id': 53, 'name...|
|[{'id': 14, 'name...|
|[{'id': 28, 'name...|
|[{'id': 28, 'name...|
|[{'id': 99, 'name...|
|[{'id': 53, 'name...|
|[{'id': 12, 'name...|
|[{'id': 35, 'name...|
|[{'id': 35, 'name...|
|[{'id': 14, 'name...|
|[{'id': 18, 'name...|
|[{'id': 12, 'name...|
|[{'id': 12, 'name...|
|[{'id': 99, 'name...|
|[{'id': 10749, 'n...|
|[{'id': 10749, 'n...|
|[{'id': 28, 'name...|
|[{'id': 10749, 'n...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'genres': 3014


Unique values for column 'original_language':
+-----------------+
|original_language|
+-----------------+
|               en|
|               nb|
|               ro|
|               pl|
|               cn|
|               pt|
|               ko|
|               cs|
|               de|
|               es|
|               el|
|               it|
|               ar|
|               sv|
|               nl|
|               hu|
|               ru|
|               fa|
|               no|
|               cy|
+-----------------+
only showing top 20 rows

Number of unique values for column 'original_language': 87


Unique values for column 'original_title':
+--------------------+
|      original_title|
+--------------------+
|  Living in Oblivion|
|      Flesh and Bone|
|Und keiner weint ...|
|War Stories Our M...|
|         Echte Kerle|
|      Wild Man Blues|
|              Heaven|
|      Les misérables|
|        Country Life|
|The Story of Xinghua|
|The Million Dolla...|
|           Il mostro|
|The Bridges of Ma...|
|          Free Willy|
|     Mina Tannenbaum|
| Grosse Pointe Blank|
|       Soylent Green|
|            20 Dates|
|       The Last Days|
|         Touki-Bouki|
+--------------------+
only showing top 20 rows

Number of unique values for column 'original_title': 29517


Unique values for column 'overview':
+--------------------+
|            overview|
+--------------------+
|French Kiss is di...|
|Bounced from her ...|
|The Live action a...|
|A disease carried...|
|A lawless poacher...|
|Despite being wel...|
|Ben Holmes, a pro...|
|This film adaptat...|
|Dolores Claiborne...|
|Mousie and Sad Gi...|
|Naked in New York...|
|This outrageous t...|
|Bill McKay is a c...|
|A young boy and a...|
|Unable, due to th...|
|Combat has taken ...|
|A couple, cheated...|
|An ex-con holds a...|
|Emerging from the...|
|"The movie is cen...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'overview': 29475


Unique values for column 'popularity':
+--------------------+
|          popularity|
+--------------------+
|           10.091707|
|            0.271674|
|            0.071497|
|            1.426289|
|            8.266984|
|            2.936443|
|           12.099799|
|            4.021579|
|            1.948315|
|            0.670559|
| upon hearing the...|
|            1.317878|
|           11.924462|
|            1.217192|
|            7.983666|
|            1.777197|
|            0.613335|
|            7.272296|
|            8.399114|
|           10.177086|
+--------------------+
only showing top 20 rows

Number of unique values for column 'popularity': 29194


Unique values for column 'production_companies':
+--------------------+
|production_companies|
+--------------------+
|[{'name': 'Filmwe...|
|[{'name': 'Fox Se...|
|         menace them|
|[{'name': 'FilmDa...|
|[{'name': 'Hollyw...|
|[{'name': 'HBO In...|
|[{'name': 'Univer...|
|[{'name': 'Mercha...|
|[{'name': 'Propag...|
|[{'name': 'Initia...|
|[{'name': 'Mirama...|
|"" the oddball di...|
|[{'name': 'Sandre...|
|            0.910655|
|/ii4bqnfm5aW3TxqG...|
|[{'name': 'Touchs...|
|[{'name': 'Wood-T...|
|/pVmbZ54aZd4BcRfw...|
|[{'name': 'Twenti...|
| when it becomes ...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'production_companies': 16050


Unique values for column 'production_countries':
+--------------------+
|production_countries|
+--------------------+
|[{'iso_3166_1': '...|
|           11.054751|
|/qLijlmE6AJjpCU8f...|
|[{'iso_3166_1': '...|
|[{'iso_3166_1': '...|
|         'id': 8171}|
|[{'name': 'Paramo...|
|[{'name': 'Touchs...|
|[{'iso_3166_1': '...|
|/woERgwsyAb318gMM...|
|[{'iso_3166_1': '...|
|       'id': 1257}]"|
|/9T1YxwFZcUjy60xW...|
|/d2gjvvtmhtL2AVAJ...|
|/gMuV7ORN8rRfQPMI...|
|[{'iso_3166_1': '...|
| drug-hazed mistress|
|/22qX6CExu5BfIZCi...|
|[{'name': 'Walt D...|
|[{'name': 'Ignite...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'production_countries': 3769


Unique values for column 'release_date':
+--------------------+
|        release_date|
+--------------------+
|          1994-08-31|
|          1997-09-28|
|          1941-12-12|
|          1982-12-10|
|          1958-03-27|
|          1995-01-26|
|          1981-07-10|
|          1993-08-06|
|          1994-12-09|
|          1950-11-09|
|          1957-07-11|
|          1997-09-24|
|          1995-05-17|
|          1973-06-15|
|          1955-07-01|
|          1995-06-01|
|          1994-12-14|
| mixes with a mus...|
|          1962-10-24|
|          1997-07-18|
+--------------------+
only showing top 20 rows

Number of unique values for column 'release_date': 14252


Unique values for column 'revenue':
+--------------------+
|             revenue|
+--------------------+
|          1997-09-28|
|             1334786|
|             3335984|
|            21300000|
|             1179002|
|[{'name': 'Paramo...|
|           262797249|
|           182016617|
|           113309743|
|            31987563|
|              368234|
|/y5u1cxjtOCaQRZZU...|
|          1971-12-18|
|            69821334|
|            62548947|
|            38172500|
|           250821495|
|           255000211|
|            11146270|
|             1723872|
+--------------------+
only showing top 20 rows

Number of unique values for column 'revenue': 4810


Unique values for column 'runtime':
+--------------------+
|             runtime|
+--------------------+
|               102.0|
|               151.0|
|[{'iso_3166_1': '...|
|          1997-07-18|
|               116.0|
|                84.0|
|          1995-09-15|
|               127.0|
|               145.0|
| {'name': 'Lamy F...|
|                50.0|
|                75.0|
|[{'name': 'Fine L...|
|                65.0|
|               118.0|
|             1814290|
|                90.0|
|               170.0|
| a fan of traditi...|
|          1998-01-23|
+--------------------+
only showing top 20 rows

Number of unique values for column 'runtime': 1638


Unique values for column 'spoken_languages':
+--------------------+
|    spoken_languages|
+--------------------+
|[{'iso_639_1': 'c...|
|[{'iso_3166_1': '...|
|[{'iso_639_1': 'e...|
|[{'iso_639_1': 'c...|
|          1974-10-18|
|[{'iso_639_1': 'e...|
|[{'iso_639_1': 'i...|
|[{'iso_3166_1': '...|
|               116.0|
|               127.0|
|[{'iso_639_1': 'e...|
|[{'iso_639_1': 'e...|
|[{'name': 'Columb...|
|[{'iso_639_1': 'd...|
|[{'iso_639_1': 'e...|
|/pDGYcWlxSUwX3oib...|
|[{'iso_639_1': 'e...|
|[{'iso_639_1': 'i...|
|[{'iso_639_1': 'e...|
|                90.0|
+--------------------+
only showing top 20 rows

Number of unique values for column 'spoken_languages': 2433


Unique values for column 'status':
+--------------------+
|              status|
+--------------------+
|          1984-11-16|
|[{'iso_639_1': 'e...|
|[{'name': 'Eureka...|
|          1996-01-01|
|               118.0|
|[{'iso_639_1': 'e...|
|          1994-12-22|
|"[{'name': 'TriSt...|
|[{'iso_3166_1': '...|
|             Rumored|
|          1991-10-17|
|                83.0|
|[{'iso_3166_1': '...|
|            Released|
|                   0|
|[{'iso_3166_1': '...|
|               108.0|
|                78.0|
|/ihX2udk636JMAAaW...|
|             4500000|
+--------------------+
only showing top 20 rows

Number of unique values for column 'status': 909


Unique values for column 'title':
+--------------------+
|               title|
+--------------------+
|  Living in Oblivion|
|      Flesh and Bone|
|Und keiner weint ...|
|War Stories Our M...|
|      Wild Man Blues|
|              Heaven|
|The Story of Xinghua|
|The Million Dolla...|
|The Bridges of Ma...|
|          Free Willy|
|     Mina Tannenbaum|
| Grosse Pointe Blank|
|       Soylent Green|
|       The Last Days|
|           Hugo Pool|
|             Phoenix|
|       Billy Madison|
|  To Be or Not to Be|
|               Macao|
|       Parallel Sons|
+--------------------+
only showing top 20 rows

Number of unique values for column 'title': 27488


Unique values for column 'video':
+--------------------+
|               video|
+--------------------+
|Five Kids. One Se...|
|     Colonel Chabert|
|            0.036478|
|  Opposites attract.|
|He's got 5 days t...|
|When Nothing Work...|
|   Hurricane Streets|
|         The Apostle|
|        A Bug's Life|
|               118.0|
|He as a centerfol...|
|Get Together. Fal...|
|             Thinner|
|[{'iso_639_1': 'z...|
|             Rumored|
|          1995-06-23|
|            Released|
|                   0|
|               False|
|             Jeffrey|
+--------------------+
only showing top 20 rows

Number of unique values for column 'video': 1328


Unique values for column 'vote_average':
+--------------------+
|        vote_average|
+--------------------+
|                 8.5|
|A Sublime Trip to...|
|        Country Life|
|                 8.2|
|                 7.3|
|                 8.3|
|                 4.2|
|Anabel made a wis...|
|/chz5wJezJZVsMZZX...|
|[{'iso_639_1': 'e...|
|         The Getaway|
|          Love Jones|
|                90.0|
|A Damsel in Distress|
|                 6.1|
|                 4.4|
|                 2.7|
|                 3.8|
|Trouble never loo...|
|      The Land Girls|
+--------------------+
only showing top 20 rows

Number of unique values for column 'vote_average': 964


Unique values for column 'vote_count':
+----------+
|vote_count|
+----------+
|       125|
|      1241|
|         7|
|       124|
|      2550|
|        51|
|       447|
|       307|
|       169|
|       747|
|       272|
|        15|
|        54|
|       232|
|       282|
|       317|
|       132|
|       4.2|
|       388|
|       200|
+----------+
only showing top 20 rows

Number of unique values for column 'vote_count': 1644


Unique values for column 'cast':
+--------------------+
|                cast|
+--------------------+
|[{'cast_id': 1, '...|
|[{'cast_id': 7, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 2, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 13, ...|
|[{'cast_id': 1, '...|
|[{'cast_id': 13, ...|
|[{'cast_id': 2, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 8, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 1, '...|
|[{'cast_id': 8, '...|
|[{'cast_id': 5, '...|
|[{'cast_id': 0, '...|
|[{'cast_id': 3, '...|
|[{'cast_id': 3, '...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'cast': 27985


Unique values for column 'crew':
+--------------------+
|                crew|
+--------------------+
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
|[{'credit_id': '5...|
+--------------------+
only showing top 20 rows

Number of unique values for column 'crew': 29634

# Most common value for each column

In [88]:
most_common_values = {}
for column in movies.columns:
    column_counts = movies.groupBy(column).agg(count("*").alias("count"))
    total_count = movies.count()
    column_counts_with_percentage = column_counts.withColumn("percentage", (col("count") / total_count) * 100)
    column_counts_with_percentage = column_counts_with_percentage.orderBy(desc("count"))
    most_common_values[column] = (column_counts_with_percentage.first()[column],
                                  column_counts_with_percentage.first()["percentage"])

for column, (value, percentage) in most_common_values.items():
    print(f"For column '{column}': {value}")
    print(f"Percentage: {percentage:.2f}%")

For column 'adult': False
Percentage: 99.98%
For column 'budget': 0
Percentage: 85.07%
For column 'genres': [{'id': 18, 'name': 'Drama'}]
Percentage: 11.19%
For column 'original_language': en
Percentage: 69.03%
For column 'original_title': Blackout
Percentage: 0.04%
For column 'overview': None
Percentage: 2.53%
For column 'popularity': 0.0
Percentage: 0.21%
For column 'production_companies': []
Percentage: 29.61%
For column 'production_countries': [{'iso_3166_1': 'US', 'name': 'United States of America'}]
Percentage: 31.64%
For column 'release_date': [{'iso_3166_1': 'US', 'name': 'United States of America'}]
Percentage: 0.93%
For column 'revenue': 0
Percentage: 81.55%
For column 'runtime': 90.0
Percentage: 5.63%
For column 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}]
Percentage: 42.37%
For column 'status': Released
Percentage: 90.89%
For column 'title': None
Percentage: 1.65%
For column 'video': False
Percentage: 91.70%
For column 'vote_average': 0.0
Percentage: 7.37%
For column 'vote_count': 1
Percentage: 7.58%
For column 'cast': []
Percentage: 7.86%
For column 'crew': []
Percentage: 2.44%

# Filtering and dropping further

In [89]:
filtered_movies = movies.filter(movies.adult == 'False')
filtered_movies = filtered_movies.filter(movies.status == 'Released')
filtered_movies = filtered_movies.filter(movies.video == False)

columns_to_drop = [
    'adult', 'status', 'video'
]

filtered_movies = filtered_movies.drop(*columns_to_drop)

# Looking for duplicates and removing them

In [90]:
duplicate_rows = filtered_movies.groupBy(filtered_movies.columns).count().where(col("count") > 1)
print('Number of duplicate rows: ', duplicate_rows.count())
filtered_movies = filtered_movies.dropDuplicates()

Number of duplicate rows:  32

# A Summary of the dataset

In [92]:
filtered_movies.describe().show()

+-------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+-------------------------+--------------------+------------+-------------------+-----------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+
|summary|              budget|              genres|original_language|      original_title|            overview|          popularity|     production_companies|production_countries|release_date|            revenue|          runtime|    spoken_languages|               title|     vote_average|        vote_count|                cast|                crew|
+-------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+-------------------------+--------------------+------------+-------------------+-----------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+
|  count|               27535|               27535|            27525|               27535|               26803|               27535|                    27535|               27535|       27467|              27535|            27303|               27535|               27535|            27535|             27535|               27535|               27535|
|   mean|  2147162.6877428726|                NULL|             NULL|            Infinity|                NULL|  2.2153730958088196|                     NULL|                NULL|        NULL|  4646212.097657527| 91.2240779401531|                NULL|            Infinity|5.506046849464313| 51.94196477210823|                NULL|                NULL|
| stddev|1.0873656322729306E7|                NULL|             NULL|                 NaN|                NULL|   4.859174952004865|                     NULL|                NULL|        NULL|3.359251806965458E7|40.68647042874441|                NULL|                 NaN|2.036508355414303|243.64495509049902|                NULL|                NULL|
|    min|                   0|                  []|               ab|!Women Art Revolu...|                    | including a wron...|            'id': 8411}]"|"[{'iso_3166_1': ...|  1874-12-09|                  0|              0.0|                  []|!Women Art Revolu...|              0.0|                 0|                  []|                  []|
|    max|              998000|[{'id': 99, 'name...|               zu|      ３－４Ｘ１０月|…ere erera baleib...|               9e-06|[{'name': '이디오플랜'...|[{'iso_3166_1': '...|  2017-12-27|           99423521|             99.0|[{'iso_639_1': 'z...|    ファンタスティポ|              9.8|               998|[{'cast_id': 96, ...|[{'credit_id': '5...|
+-------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+-------------------------+--------------------+------------+-------------------+-----------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+