# Importing Dependencies

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading the Dataset

In [3]:
salaries = pd.read_csv("higher_ed_employee_salaries.csv")

In [4]:
salaries.head()

,Name,School,Job Description,Department,Earnings,Year
0,Don Potter,University of Akron,Assistant Lecturer,Social Work,2472.00,2019
1,Emily Potter,The Ohio State University,Administrative Assistant 3,Arts and Sciences | Chemistry and Biochemistry...,48538.02,2022
2,Carol Jean Potter,The Ohio State University,Associate Professor-Clinical,Pediatrics,22722.80,2013
3,Kim Potter,The Ohio State University,"Manager 4, Compliance",Legal Affairs | Compliance,170143.44,2022
4,Graham Potter,Miami University,Building and Grounds Assistant,"Assoc VP Housing,Dining,Rec,Bus Svc",3075.20,2012

# Checking for unique values (by column)

In [36]:
unique_schools = salaries['School'].unique()
unique_schools_count = salaries['School'].nunique()
print(unique_schools)
print(f"Number of values:", unique_schools_count)

['University of Akron' 'The Ohio State University' 'Miami University'
 'Bowling Green State University' 'Central State University'
 'Ohio University' 'Youngstown State University' 'Kent State University'
 'University Of Cincinnati' 'Wright State University'
 'University of Toledo' 'Shawnee State University'
 'Cleveland State University']
Number of values: 13

In [37]:
unique_jobs = salaries['Job Description'].unique()
unique_jobs_count = salaries['Job Description'].nunique()
print(unique_jobs)
print(f"Number of values:", unique_jobs_count)

['Assistant Lecturer' 'Administrative Assistant 3'
 'Associate Professor-Clinical' ... 'Adjunct Professor Session I'
 "Asst Men's Basketbal Coach" 'Assoc Head Mens BB Coach']
Number of values: 38679

In [35]:
unique_departments= salaries['Department'].unique()
unique_departments_count= salaries['Department'].nunique()
print(unique_departments)
print(f"Number of values:",unique_departments_count)

['Social Work'
 'Arts and Sciences | Chemistry and Biochemistry Administration'
 'Pediatrics' ... 'CH BSAM BACH APPL MGT' 'Ch Applied Management'
 'Ch Bsam Bach Appl Mgt']
Number of values: 9352

In [23]:
unique_years = salaries['Year'].unique()
print(unique_years)

[2019 2022 2013 2012 2015 2018 2021 2014 2020 2016 2017 2011]

# Checking for missing values

In [38]:
total_rows = salaries.shape[0]
missing_per_column = salaries.isnull().sum()
percentage_missing = (missing_per_column / total_rows) * 100

print("------MISSING------")
print(missing_per_column)
print("\n------PERCENTAGE------")
print(percentage_missing)

------MISSING------
Name                   0
School                 0
Job Description    26668
Department         60452
Earnings            9675
Year                   0
dtype: int64

------PERCENTAGE------
Name               0.000000
School             0.000000
Job Description    2.854183
Department         6.469966
Earnings           1.035481
Year               0.000000
dtype: float64

In [22]:
unique_schools = salaries['Job Description'].nunique()
print(unique_schools)

38679

In [18]:
unique_schools = salaries['Department'].unique()
print(unique_schools)

['Social Work'
 'Arts and Sciences | Chemistry and Biochemistry Administration'
 'Pediatrics' ... 'CH BSAM BACH APPL MGT' 'Ch Applied Management'
 'Ch Bsam Bach Appl Mgt']